* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #088DFF;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

::-moz-selection {
  background: rgba(8, 141, 255, 0.25);
}

::selection {
  background: rgba(8, 141, 255, 0.25);
}

::-moz-selection {
  background: rgba(8, 141, 255, 0.25);
}

.mobile-show {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .mobile-show {
    display: inherit !important;
  }
}

@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
}

.sidebar {
  width: 320px;
  height: 100vh;
  background-color: #088DFF;
  position: fixed;
  padding: 48px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 120px;
    padding: 32px 24px;
    position: relative;
  }
}
.sidebar h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
}
.sidebar .social {
  display: flex;
  margin-top: 16px;
}
.sidebar .social a {
  opacity: 0.5;
  margin-right: 16px;
  transition: all 0.25s ease-in-out;
}
.sidebar .social a:hover {
  opacity: 1;
}
.sidebar .nav a {
  color: #FFFFFF;
  font-weight: 600;
  opacity: 0.5;
  margin-top: 16px;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  display: block;
  padding-left: 8px;
  margin-left: -10px;
  border-left: 2px solid transparent;
}
.sidebar .nav a:hover {
  opacity: 1;
  border-color: #FFFFFF;
}
.sidebar .nav a:nth-of-type(1) {
  margin-top: 24px;
}

.body {
  width: calc(100% - 416px);
  max-width: 600px;
  height: auto;
  margin: 0 0 0 320px;
  padding: 48px;
}
@media screen and (max-width: 767px) {
  .body {
    width: 100%;
    max-width: 100%;
    padding: 32px 24px;
    margin: 0;
    box-sizing: border-box;
  }
}
.body .section {
  margin-top: 88px;
  width: 100%;
}
.body .section:nth-of-type(1) {
  margin-top: 0;
}
.body .pulse svg {
  position: absolute;
}
.body .pulse .solid-dot {
  fill: #088DFF;
}
.body .pulse .pulse-dot {
  fill: #088DFF;
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.body h1 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.5;
  padding-top: 24px;
}
.body p {
  margin-top: 16px;
}

.video-container-43 {
  position: relative;
  padding-bottom: 75%;
  padding-top: 25px;
  height: 0;
  margin: 48px 0 -8px;
}
.video-container-43 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects .project-container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .projects .project-container {
    width: 100%;
    display: block;
  }
}
.projects .project-container a {
  margin: 24px 24px 0 0;
}
.projects .project-container .project {
  width: 288px;
  height: 376px;
  border: 2px solid rgba(8, 141, 255, 0.25);
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .projects .project-container .project {
    width: 100%;
  }
}
.projects .project-container .project .description {
  bottom: 24px;
  position: absolute;
}
.projects .project-container .project h2 {
  font-weight: 600;
}
.projects .project-container .project h3 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  opacity: 0.5;
  transition: all 0.25s ease-in-out;
  margin-top: 8px;
}
.projects .project-container .project:hover {
  border-color: #088DFF;
  border-radius: 8px;
}
.projects .project-container .project:hover h3 {
  opacity: 1;
}
.projects .project-container .samcart svg {
  fill: #088DFF;
}
.projects .project-container .samcart:hover svg {
  animation: move 2s ease-in-out infinite;
  margin: -48px 0 0 -96px;
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  19% {
    transform: translate(56px, 28px);
    opacity: 1;
  }
  27% {
    transform: translate(50px, 25px);
  }
  73% {
    transform: translate(50px, 25px);
  }
  81% {
    transform: translate(44px, 22px);
  }
  92% {
    opacity: 1;
  }
  100% {
    transform: translate(100px, 50px);
    opacity: 0;
  }
}
.projects .project-container .halfdollar:hover svg {
  animation: rotate 1.5s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: rotateY(-360deg);
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape1 {
  animation: appear1 1s ease-in-out infinite;
}
@keyframes appear1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape2 {
  animation: appear2 1s ease-in-out infinite;
}
@keyframes appear2 {
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape3 {
  animation: appear3 1s ease-in-out infinite;
}
@keyframes appear3 {
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape4 {
  animation: appear4 1s ease-in-out infinite;
}
@keyframes appear4 {
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape5 {
  animation: appear5 1s ease-in-out infinite;
}
@keyframes appear5 {
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape6 {
  animation: appear6 1s ease-in-out infinite;
}
@keyframes appear6 {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape7 {
  animation: appear7 1s ease-in-out infinite;
}
@keyframes appear7 {
  60% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
.projects .project-container .friends:hover .shape8 {
  animation: appear8 1s ease-in-out infinite;
}
@keyframes appear8 {
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projects .project-container .memento:hover svg {
  animation: grow 1s ease-in-out infinite;
}
@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.projects .project-container .goodtruth .image {
  width: 64px;
  height: 64px;
  background-image: url("../images/lastmonth.jpg");
  background-size: 64px;
  background-repeat: no-repeat;
}
.projects .project-container .goodtruth:hover .image {
  background-image: url("../images/lastmonth.gif");
}
.projects .project-container .dailyui .image {
  width: 112px;
  height: 112px;
  background-image: url("../images/android.png");
  background-size: 112px;
  background-repeat: no-repeat;
}
.projects .project-container .dailyui:hover .image {
  background-image: url("../images/android.gif");
}
.projects .project-container .sticker .image {
  width: 88px;
  height: 88px;
  background-image: url("../images/stickerpack.png");
  background-size: 88px;
  background-repeat: no-repeat;
}
.projects .project-container .sticker:hover .image {
  background-image: url("../images/stickerpack.gif");
}
.projects .project-container .logos .image {
  width: 88px;
  height: 88px;
  background-image: url("../images/logos.jpg");
  background-size: 88px;
  background-repeat: no-repeat;
}
.projects .project-container .logos:hover .image {
  background-image: url("../images/logos.gif");
}

.history h5 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.5;
}
.history h6 {
  font-size: 12px;
  line-height: 20px;
  opacity: 0;
  text-align: right;
  transition: all 0.25s ease-in-out;
  margin-top: -4px;
}
.history h2 {
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}
.history h2 span {
  font-weight: 400;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 923px) {
  .history h2 span {
    font-size: 12px;
    line-height: 20px;
  }
}
.history h2 .mobile-hide {
  font-weight: 600;
}
@media screen and (max-width: 923px) {
  .history h2 {
    font-size: 12px;
    line-height: 20px;
  }
}
.history h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  margin-top: -6px;
}
@media screen and (max-width: 923px) {
  .history h3 {
    font-size: 12px;
    line-height: 20px;
    margin-top: -4px;
  }
}
.history .timeline {
  display: flex;
  justify-content: center;
  position: relative;
  width: 16px;
  height: auto;
  margin: 24px 0 0 44px;
}
.history .timeline .date {
  padding-right: 38px;
  margin-left: -44px;
  display: flex;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}
.history .timeline .title {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 923px) {
  .history .timeline .title {
    margin-top: 17px;
  }
}
.history .timeline .timeline-line {
  width: 0;
  height: 336px;
  border-left: 2px solid #088DFF;
  position: absolute;
  top: 12px;
}
.history .timeline .timeline-circle {
  width: 478px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 4px;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 767px) {
  .history .timeline .timeline-circle {
    width: 220px;
  }
}
.history .timeline .timeline-circle .pulse-dot {
  width: 8px;
  height: 8px;
  opacity: 0;
  border: 2px solid #088DFF;
  border-radius: 100%;
  transition: all 0.125s ease-in-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history .timeline .timeline-circle .solid-dot {
  width: 8px;
  height: 8px;
  background-color: #088DFF;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history .timeline .timeline-circle:hover h6 {
  opacity: 0.5;
}
.history .timeline .timeline-circle:hover h3 {
  opacity: 0.5;
}
.history .timeline .timeline-circle:hover .pulse-dot {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.blog {
  margin-top: 448px !important;
}
.blog a {
  margin-top: 24px;
  display: block;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.25s ease-in-out;
}
.blog a:hover {
  opacity: 0.5;
  text-decoration: none;
}
.blog p {
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
  margin-top: 0;
}

.influence a {
  margin-top: 24px;
  display: block;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.25s ease-in-out;
}
.influence a:hover {
  opacity: 0.5;
  text-decoration: none;
}
.influence a span {
  font-weight: 400;
}
.influence p a {
  margin-top: 0;
  display: inline;
}

.contact h4 {
  margin-top: 24px;
  opacity: 0.5;
}
.contact p {
  font-weight: 600;
  margin-top: 0;
}

.project-page h1 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  padding-top: 24px;
}
.project-page h2 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.5;
}
.project-page p {
  margin-top: 16px;
  color: #484E53;
}
.project-page p span {
  font-weight: 600;
  color: #484E53;
}
.project-page a {
  margin-top: 24px;
  display: block;
  text-decoration: underline;
  transition: all 0.25s ease-in-out;
}
.project-page a:hover {
  opacity: 0.5;
  text-decoration: none;
}
.project-page .image {
  width: 100%;
  margin: 48px 0 -16px;
  border-radius: 8px;
}
.project-page .browser {
  width: 100%;
  height: 448px;
  margin: 48px 0;
  border-radius: 8px;
  box-shadow: 0 8px 64px 0 rgba(34, 34, 34, 0.1);
  position: relative;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 923px) {
  .project-page .browser {
    height: 360px;
  }
}
@media screen and (max-width: 767px) {
  .project-page .browser {
    height: 448px;
  }
}
@media screen and (max-width: 599px) {
  .project-page .browser {
    height: 248px;
  }
}
.project-page .browser .topbar {
  width: 100%;
  height: 24px;
  background-color: #EEEEEE;
  position: absolute;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
}
.project-page .browser .topbar .circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #CECECE;
  display: flex;
  margin-right: -4px;
  margin-left: 8px;
}
.project-page .browser .browser-body {
  width: 100%;
  height: calc(100% - 24px);
  position: absolute;
  bottom: 0;
  overflow-y: scroll;
  border-radius: 0 0 8px 8px;
}
.project-page .browser .browser-body img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-page .phone {
  width: 40%;
  height: auto;
  margin: 48px auto;
  border-radius: 8px;
  box-shadow: 0 8px 64px 0 rgba(34, 34, 34, 0.1);
  position: relative;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 599px) {
  .project-page .phone {
    width: 60%;
  }
}
.project-page .phone .topbar {
  width: 100%;
  height: 24px;
  background-color: #EEEEEE;
  border-radius: 8px 8px 0 0;
  display: flex;
}
.project-page .phone .bottombar {
  width: 100%;
  height: 24px;
  background-color: #EEEEEE;
  border-radius: 0 0 8px 8px;
  display: flex;
  margin-top: -6px;
}
.project-page .phone .phone-body {
  width: 100%;
  height: calc(100% - 48px);
}
.project-page .phone .phone-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-page .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 48px 0 -8px;
}
.project-page .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */