// Variables

// Breakpoints
$screen-small: 599px;
$screen-medium: 767px;

// Color
$color-light: #fafafa;
$color-dark: #111;

// Font
$font-sans: 'Helvetica', sans-serif;
$font-mono: 'Fragment Mono', monospace;

// Global
* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    display: grid;
}

// Theme
@mixin theme-light() {
    color-scheme: light;
    color: $color-dark;
    background-color: $color-light;
    *:focus-visible {
        outline-color: $color-dark;
    }
    h1 {
        color: $color-light;
    }
    svg {
        circle {
            fill: $color-dark;
        }
        path {
            stroke: $color-dark;
        }
    }
    #banner, .quote {
        background-color: $color-light;
    }
    a {
        color: $color-dark;
    }
}
@mixin theme-dark() {
    color-scheme: dark;
    color: $color-light;
    background-color: $color-dark;
    *:focus-visible {
        outline-color: $color-light;
    }
    h1 {
        color: $color-dark;
    }
    svg {
        circle {
            fill: $color-light;
        }
        path {
            stroke: $color-light;
        }
    }
    #banner, .quote {
        background-color: $color-dark;
    }
    a {
        color: $color-light;
    }
}
  
html,
html[data-theme="light"] {
    @include theme-light;
}
html[data-theme="dark"] {
    @include theme-dark;
}
@media (prefers-color-scheme: dark) {
    html:not([data-theme]) {
        @include theme-dark;
    }
}

// Type

h1 {
    font-size: 14vw;
    font-family: $font-sans;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 2%;
    @media only screen and (max-width: $screen-medium) {
        margin-top: 3%;    
    }
    @media only screen and (max-width: $screen-small) {
        margin-top: 4%;    
    }
}

h2, .quote {
    font-family: $font-mono;
    font-size: 5vw;
    line-height: 1.5;
}

.quote {
    padding: 5px;
}

// Components

#page {
    width: 100%;
}

#banner {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    padding: 5px;
    position: absolute;
    p {
        font-family: $font-mono;
        font-size: 13px;
        line-height: 1;
    }
    svg {
        width: 13px;
        height: 13px;
    }
    .half-circle {
        transform-origin: 50% 50%;
        animation: spin var(--duration, 2s) linear infinite;
    }
    .inner-half-circle {
        transform-origin: 50% 50%;
        animation: spin-reverse var(--inner-duration, 2s) linear infinite;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes spin-reverse {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
}

section {
    margin-bottom: 10%;
}

.image {
    position: absolute;
    z-index: -1000;
}

.image, .project {
    display: block;
    width: 100%;
}

.text {
    position: relative;
    padding: 3%;
}

a {
    text-decoration: underline;
    text-underline-offset: 6px;
    &:hover {
        text-decoration: none;
    }
    &:active {
        opacity: 0;
    }
}