// Variables

// Color
$color-light: #fefefa;
$color-mid-light: #e0e0d9;
$color-mid: #93938e;
$color-mid-dark: #38383a;
$color-dark: #181819;
$color-accent: #0000ff;

// Font
$font-mono: 'Fragment Mono', monospace;
$font-sans: 'Helvetica', sans-serif;

// Global
* {
    margin: 0;
    padding: 0;
    font-family: $font-sans;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    &::selection {
        background-color: $color-accent;
        color: $color-light;
    }
}

body {
    display: grid;
    gap: 15px;
    padding: 30px;

    &#gallery {
        display: block;
    }
}

.hidden {
    display: none !important;
}

// Theme
@mixin theme-light() {
    color-scheme: light;
    color: $color-dark;
    background-color: $color-light;
    *:focus-visible {
        outline-color: $color-dark;
    }
    a {
        color: $color-accent;
    }
    button {
        border-color: $color-dark;
    }
    .active {
        color: $color-light;
        background-color: $color-dark;
    }
    .card {
        border-color: $color-mid-light;
    }
}
@mixin theme-dark() {
    color-scheme: dark;
    color: $color-mid;
    background-color: $color-dark;
    *:focus-visible {
        outline-color: $color-dark;
    }
    a {
        color: $color-mid-light;
    }
    #bisnoni-image {
        filter: invert(1);
    }
    button {
        border-color: $color-light;
    }
    button {
        &:hover {
            box-shadow: 3px 3px 0 $color-light;
        }
        &:active {
            box-shadow: inset 3px 3px 0 $color-light;
        }
    }
    .active {
        color: $color-dark;
        background-color: $color-light;
    }
    .card {
        border-color: $color-mid-dark;
    }
    img, video {
        opacity: 0.7;
    }
}
  
html,
html[data-theme="light"] {
    @include theme-light;
}
html[data-theme="dark"] {
    @include theme-dark;
}
@media (prefers-color-scheme: dark) {
    html:not([data-theme]) {
        @include theme-dark;
    }
}

// Type

p, i, small {
    display: block;
}

h1 {
    font-size: 30px;
}

small {
    font-size: 13px;
}

// Components

a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    &:active {
        opacity: 0;
    }
    &:visited {
        text-decoration: none;
    }
}

ul {
    display: grid;
    gap: 5px;
}

li {
    list-style: square;
    line-height: 1.65;
}

#gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    gap: 30px;
    margin-top: 30px;
    img, video {
        width: 100%;
    }
}

.card {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
}

// Tuner

#tuner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

#needle-container {
    width: 100%;
    height: 25px;
    margin: 0 auto 30px;
    position: relative;
    background: transparent;
}

#needle {
    width: 2px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: left 0.125s ease-in-out;
}

#tuning-select {
    padding: 20px;
    margin: 30px auto 0;
    border: 0;
    outline: 1px solid;
    border-right: 20px solid transparent;
    transition: all 0.125s;
}

// Drone

#instrument-container {
    h1, p {
        text-align: center;
    }
    h1 {
        margin-bottom: 20px;
    }
    .button-group {
        flex-wrap: wrap;
        margin-top: 0;
    }
    button {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 1px solid;
        transition: all 0.125s;
        flex: 1 1 5%;
    }
    p {
        display: block;
        margin-top: 15px;
    }
    #startStop {
        position: absolute;
        bottom: 30px;
        width: calc(100% - 60px);
    }
}