* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
*:focus-visible {
  outline: auto 5px;
  outline-offset: 6px;
}

body, #biography {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
  grid-auto-flow: row;
}

body {
  padding: 84px 56px 56px 56px;
  width: calc(100% - 112px);
  grid-gap: 56px;
}
@media only screen and (max-width: 599px) {
  body {
    padding: 56px 28px 28px 28px;
    width: calc(100% - 56px);
  }
}

html,
html[data-theme=light] {
  color-scheme: light;
  color: #10100F;
  background-color: #F7F7F5;
}
html *:focus-visible,
html[data-theme=light] *:focus-visible {
  outline-color: #10100F;
}
html button,
html[data-theme=light] button {
  background-color: #F7F7F5;
  color: #10100F;
}
html button:hover,
html[data-theme=light] button:hover {
  background-color: #10100F;
  color: #F7F7F5;
}
html button:active,
html[data-theme=light] button:active {
  background-color: #F7F7F5;
  color: #10100F;
}
html button.current,
html[data-theme=light] button.current {
  background-color: #10100F;
  color: #F7F7F5;
}
html a,
html[data-theme=light] a {
  color: #10100F;
  border-color: #10100F;
}
html a:hover,
html[data-theme=light] a:hover {
  background-color: #10100F;
  color: #F7F7F5;
}
html a:active,
html[data-theme=light] a:active {
  background-color: #F7F7F5;
  color: #10100F;
}
html svg,
html[data-theme=light] svg {
  fill: #10100F;
}

html[data-theme=dark] {
  color-scheme: dark;
  color: #F7F7F5;
  background-color: #10100F;
}
html[data-theme=dark] *:focus-visible {
  outline-color: #F7F7F5;
}
html[data-theme=dark] button {
  background-color: #10100F;
  color: #F7F7F5;
}
html[data-theme=dark] button:hover {
  background-color: #F7F7F5;
  color: #10100F;
}
html[data-theme=dark] button:active {
  background-color: #10100F;
  color: #F7F7F5;
}
html[data-theme=dark] button.current {
  background-color: #F7F7F5;
  color: #10100F;
}
html[data-theme=dark] a {
  color: #F7F7F5;
  border-color: #F7F7F5;
}
html[data-theme=dark] a:hover {
  background-color: #F7F7F5;
  color: #10100F;
}
html[data-theme=dark] a:active {
  background-color: #10100F;
  color: #F7F7F5;
}
html[data-theme=dark] svg {
  fill: #F7F7F5;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    color-scheme: dark;
    color: #F7F7F5;
    background-color: #10100F;
  }
  html:not([data-theme]) *:focus-visible {
    outline-color: #F7F7F5;
  }
  html:not([data-theme]) button {
    background-color: #10100F;
    color: #F7F7F5;
  }
  html:not([data-theme]) button:hover {
    background-color: #F7F7F5;
    color: #10100F;
  }
  html:not([data-theme]) button:active {
    background-color: #10100F;
    color: #F7F7F5;
  }
  html:not([data-theme]) button.current {
    background-color: #F7F7F5;
    color: #10100F;
  }
  html:not([data-theme]) a {
    color: #F7F7F5;
    border-color: #F7F7F5;
  }
  html:not([data-theme]) a:hover {
    background-color: #F7F7F5;
    color: #10100F;
  }
  html:not([data-theme]) a:active {
    background-color: #10100F;
    color: #F7F7F5;
  }
  html:not([data-theme]) svg {
    fill: #F7F7F5;
  }
}
h1 {
  font-family: "Newsreader", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 20px;
  line-height: 28px;
}

p, p span {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
}
p a, p span a {
  font-size: 18px;
  line-height: 32px;
}

img {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  font-family: "Space Mono", mono;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1.5px solid;
}
a:hover {
  font-style: italic;
}
a:active {
  border: none;
  opacity: 0.6;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Space Mono", mono;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  width: 100%;
  height: 28px;
}

#actions {
  display: grid;
  grid-auto-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

header {
  max-width: 752px;
}
header h1 {
  margin-bottom: 28px;
}
header h2:last-child {
  margin-bottom: 14px;
}

nav a {
  margin-right: 14px;
  margin-top: 14px;
  display: inline-block;
}
nav a:last-child {
  margin-right: 0;
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 56px;
}
@media only screen and (max-width: 1023px) {
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 599px) {
  #gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
#gallery section {
  margin-bottom: 56px;
}
#gallery section:last-child {
  margin-bottom: 0;
}
#gallery section * {
  width: 100%;
}
#gallery p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
#gallery a {
  font-size: 14px;
  line-height: 20px;
}
#gallery img, #gallery video, #gallery iframe {
  margin-bottom: 14px;
}
#gallery iframe {
  aspect-ratio: 16/9;
}

#biography {
  max-width: 752px;
  grid-gap: 14px;
  display: none;
}

.subpage {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
  grid-auto-flow: row;
  grid-gap: 14px;
}
.subpage h1 {
  margin: 28px 0 7px;
}
.subpage a {
  width: -moz-fit-content;
  width: fit-content;
}
.subpage p {
  max-width: 752px;
}
.subpage img {
  margin: 28px 0;
}
.subpage iframe {
  margin: 56px 0 0;
}/*# sourceMappingURL=styles.css.map */