* {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  color: #181819;
  background-color: #fefefa;
}
*::-moz-selection {
  background-color: #0000ff;
  color: #fefefa;
}
*::selection {
  background-color: #0000ff;
  color: #fefefa;
}

body {
  display: grid;
  gap: 15px;
  padding: 7.5%;
}
body#gallery {
  display: block;
}

.hidden {
  display: none !important;
}

p, i, small {
  display: block;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1;
}
h1 span {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  font-style: italic;
  text-transform: lowercase;
  margin-right: 10px;
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 1;
}

small {
  font-size: 13px;
}

mark {
  background-color: #f4d400;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #181819;
  cursor: help;
}
a:hover {
  color: #0000ff;
}
a:active {
  opacity: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border-color: #181819;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

ul {
  display: grid;
  gap: 5px;
  margin-top: 10px;
}

li {
  list-style: square;
  line-height: 1.65;
}

b {
  font-weight: 700;
}

#gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  gap: 20px 10px;
  margin-top: 75px;
}
#gallery-grid img, #gallery-grid video {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 482px) {
  #gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
  }
}

*:focus-visible {
  outline-color: #181819;
}

button, #tuning-select {
  box-shadow: 0 0 0 #181819;
}
button:hover, #tuning-select:hover {
  box-shadow: 3px 3px 0 #181819;
}
button:active, #tuning-select:active {
  box-shadow: inset 3px 3px 0 #181819;
}

.active {
  color: #fefefa;
  background-color: #181819;
}

#tuner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

#needle-container {
  width: 100%;
  height: 25px;
  margin: 0 auto 30px;
  position: relative;
  background: transparent;
}

#needle {
  width: 2px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: left 0.125s ease-in-out;
  background: #181819;
}

#tuning-select {
  padding: 20px;
  margin: 30px auto 0;
  border: 0;
  outline: 1px solid;
  border-right: 20px solid transparent;
  transition: all 0.125s;
}

#instrument-container h1, #instrument-container p {
  text-align: center;
}
#instrument-container h1 {
  margin-bottom: 20px;
}
#instrument-container .button-group {
  flex-wrap: wrap;
  margin-top: 0;
}
#instrument-container button {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid;
  transition: all 0.125s;
  flex: 1 1 5%;
}
#instrument-container p {
  display: block;
  margin-top: 15px;
}
#instrument-container #startStop {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
}

#records {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  gap: 0;
}
#records img {
  width: 100%;
  image-rendering: crisp-edges;
}/*# sourceMappingURL=styles.css.map */