/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #0A0F11;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

body {
    background-color: #FDFDF5;
}

/* ::-moz-selection {
    background: #FDD651;
}

::selection {
    background: #FDD651;
} */


/* TYPOGRAPHY */

a {
    cursor: pointer;
    text-decoration: underline;
}

b {
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}


/* LAYOUT */

p {
    max-width: 48ch;
}

section {
    padding: 72px;
}

#main {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #0A0F11;
    border-bottom: 1px solid #0A0F11;
}

.half {
    width: 50%;
    height: auto;
    padding: 72px;
}

.half:first-child {
    border-right: 1px solid #0A0F11;
}

/* COMPONENTS */

.spacer-8 {
    margin-bottom: 32px;
}

.spacer-2 {
    margin-bottom: 8px;
}

.spacer-1 {
    margin-bottom: 4px;
}

.link:hover {
    text-decoration: none;
}


/* IMAGES */

#profile {
    width: 40px;
    height: 40px;
}


/* RESPONSIVE */

@media only screen and (max-width: 767px) {
    #main {
        display: block;
    }
    .half {
        width: 100%;
        padding: 48px;
    }
    .half:first-child {
        border-right: none;
        border-bottom: 1px solid #0A0F11;
    }
    section {
        padding: 48px;
    }
}
