$light: #FFF;
$dark: #212529;
$mid: #3e444a;
$grey: #737474;
$blue: #007AFF;
$white: #FFF;
$yellow: #F5B149;
$transition: all 0.125s ease;
$border-radius: 4px;
$bold: 600;

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 500;
    font-size: 12px;
    color: $dark;
    line-height: 1.4;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background-color: $light;
}

h1 {
    font-size: 32px;
    color: $white;
    font-weight: $bold;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 14px;
    font-weight: $bold;
    color: $blue;
    margin-bottom: 12px;
}

h5 {
    font-size: 12px;
    color: $blue;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

h6 {
    color: $grey;
    font-style: italic;
}

a {
    color: $yellow;
    font-weight: $bold;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    border-bottom: 1px solid transparent;
    padding-bottom: 0;
    transition: all .125s ease;
    &:hover {
        color: $yellow;
        border-color: $yellow;
        padding-bottom: 2px;
    }
}

p {
    margin-bottom: 8px;
}

span {
    font-weight: $bold;
}

.side {
    background-color: $dark;
    width: 480px;
    height: 100vh;
    position: fixed;
    display: block;
    padding: 40px 80px;
    @media only screen and (max-width: 991px) {
        width: 100%;
        height: 400px;
        position: relative;
        display: block;
    }
    @media only screen and (max-width: 599px) {
        padding: 32px;
    }
}

.nav {
    color: $mid;
    a {
        color: $grey;
        &:hover {
            color: $yellow;
        }
    }
}

.mr-16 {
    margin-right: 16px;
    @media only screen and (max-width: 491px) {
        margin-right: 0;
        display: block;
        margin-bottom: 12px;
    }
}

.title {
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    top: 41%;
    position: absolute;
    p {
        color: $white;
    }
    span {
        font-style: italic;
        color: $white;
    }
    @media only screen and (max-width: 599px) {
        max-width: 240px;
        top: 34%;
    }
}

.images {
    width: calc(100% - 480px);
    height: 400px;
    position: absolute;
    right: 0;
    @media only screen and (max-width: 991px) {
        width: 100%;
        height: 400px;
    }
}

.imgA {
    width: 50%;
    height: 100%;
    object-fit: cover;
    @media only screen and (max-width: 1199px) {
        width: 100%;
        height: 50%;
    }
    @media only screen and (max-width: 991px) {
        width: 50%;
        height: 100%;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        height: 50%;
    }
}

.imgB {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    @media only screen and (max-width: 1199px) {
        width: 100%;
        height: 50%;
        margin-top: 192px;
    }
    @media only screen and (max-width: 991px) {
        width: 50%;
        height: 100%;
        margin-top: 0;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        height: 50%;
        margin-top: 192px;
    }
}

.main {
    width: calc(100% - 480px);
    height: auto;
    position: absolute;
    right: 0;
    margin-top: 472px;
    @media only screen and (max-width: 991px) {
        width: 100%;
        height: auto;
    }
}

.content {
    max-width: 536px;
    height: auto;
    margin: 0 auto;
    padding: 0 40px;
    color: $grey;
    h2 {
        color: $dark;
    }
    @media only screen and (max-width: 991px) {
        max-width: 600px;
        margin: 0 auto;
    }
}

.section {
    width: 100%;
    height: auto;
    padding: 64px 0;
    h5 {
        color: $blue;
        font-weight: $bold;
        margin: 16px 0 8px;
    }
    p, i, {
        color: $light;
    }
    a {
        color: $yellow;
        &:hover {
            color: $yellow;
            border-color: $yellow;
        }
    }
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
}

#records {
    margin-right: -1px;
    img {
        width: 10%;
        height: auto;
        margin-right: -3px;
        margin-bottom: -4px;
        &:hover {
            opacity: 0.5;
        }
        @media only screen and (max-width: 1199px) {
            width: 20%;
        }
        @media only screen and (max-width: 991px) {
            width: 10%;
        }
        @media only screen and (max-width: 767px) {
            width: 20%;
        }
    }
}

#pages {
    img {
        width: 25%;
        height: auto;
        margin-right: -3px;
        margin-bottom: -4px;
        @media only screen and (max-width: 767px) {
            width: 50%;
        }
    }
}

#contact {
    background-color: $mid;
    a {
        color: $white;
        &:hover {
            color: $yellow;
            border-color: $yellow;
        }
    }
}

.desktop {
    display: block;
    @media only screen and (max-width: 479px) {
        display: none;
    }
}

.mobile {
    display: none;
    @media only screen and (max-width: 479px) {
        display: block;
    }
}
