/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #0A0F11;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
}

body {
    background-color: #FDFDFA;
    padding: 40px;
}

::-moz-selection {
    background: #FDD651;
}

::selection {
    background: #FDD651;
}


/* TYPOGRAPHY */

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 14px;
    line-height: 22px;
    color: #828587;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 24px;
}


/* LAYOUT */

body {
    max-width: 800px;
    margin: 128px auto;
}


/* COMPONENTS */

.spacer-8 {
    margin-bottom: 64px;
}

.spacer-4 {
    margin-bottom: 32px;
}

.spacer-2 {
    margin-bottom: 16px;
}

.spacer-1 {
    margin-bottom: 8px;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.link {
    font-size: 16px;
    line-height: 24px;
    color: #0057FF;
}

.link:hover {
    text-decoration: underline;
}


/* IMAGES */

#profile {
    width: 40px;
    height: 40px;
}

/* TICKER */
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  top: 4px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 48px;
  background-color: transparent;
  padding-left: 100%;
  box-sizing: content-box;
}

.ticker {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

.ticker:hover {
    animation-play-state: paused;
}

.ticker__item {
  display: inline-block;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 20px;
  background-color: #FDD651;
  border-radius: 4px;
  margin-right: 8px;
}

.ticker__item:hover {
    background-color: #0057FF;
    color: #FFFFFF;
}


/* RESPONSIVE */

@media only screen and (max-width: 767px) {
    body {
        padding: 48px;
    }
    * {
        font-size: 16px;
    }
}
