/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

body {
    background-color: #FAFCFD;
    padding: 104px;
}

::-moz-selection {
    background: #DEE2E5;
}

::selection {
    background: #DEE2E5;
}


/* TYPOGRAPHY */

h1 {
    font-family: 'Gotu', 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #0A0F11;
}

h2 {
    font-family: 'Gotu', 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 500;
    color: #828587;
    margin-top: 104px;
}

h3 {
    font-size: 16px;
    color: #0A0F11;
    font-weight: 500;
    margin-bottom: 8px;
}

h6 {
    color: #828587;
}

h5 {
    color: #0A0F11;
    font-weight: 500;
}

p {
    line-height: 24px;
    color: #0A0F11;
}

p a {
    padding: 4px;
    margin: 0 -4px;
}


/* LAYOUT */

#content {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    margin-top: 40px;
}

nav {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 29%);
    justify-content: space-between;
}

article {
    margin-top: 40px;
    color: #828587;
}

footer {
    margin-top: 104px;
    margin-left: -8px;
    display: flex;
    justify-content: space-between;
}

#volunteering-3 p {
    font-size: 12px;
    margin-bottom: 8px;
}

#section-reviews p {
    font-size: 12px;
    line-height: 20px;
}

#section-reviews h6 {
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
}


/* COMPONENTS */

a {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    font-weight: 500;
    color: #0057FF;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease;
    padding: 4px 8px;
    background-color: transparent;
    border-radius: 4px;
}

a:hover {
    background-color: rgba(0,87,255,0.1);
}

a:active {
    color: #828587;
    background-color: #DEE2E5;
}

#page-links {
    margin-left: -8px;
}

#page-links a {
    font-size: 12px;
}

#social-links {
    margin-top: 24px;
}

#social-links a {
    font-size: 0;
    padding: 0;
}

#social-links a:hover {
    background-color: transparent;
}

#archive-links {
    width: 1232px;
    margin-left: -8px;
}

#archive-links a {
    font-size: 12px;
}

iframe {
    width: 796px;
}

.card {
    width: calc(100% + 48px);
    background-color: transparent;
    border-radius: 8px;
    padding: 24px;
    margin: -24px 0 0 -24px;
    transition: all 0.25s ease;
    display: block;
}

.card:hover {
    background-color: white;
    box-shadow: 0 8px 24px rgba(10,15,17,0.05);
}

.card h3 {
    color: #0057FF;
    font-size: 16px;
    margin-bottom: 8px;
}

/* #section-process {
    grid-template-columns: repeat(auto-fill, 49%);
} */

#section-process h6 {
    margin-bottom: 16px;
}

footer a {
    font-size: 12px;
}


/* IMAGES */

.social-icon {
    fill: #828587;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    transition: all 0.25s ease;
}

.social-icon:hover {
    fill: #464A4C;
}

#section-process img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#section-process img:hover {
    transform: scale(1.5);
    box-shadow: 8px 16px 32px rgba(10,15,17,0.15);
    transition: all 0.25s ease;
}

#section-process iframe {
    width: 100%;
    border-radius: 4px;
}


/* RESPONSIVE */

@media only screen and (max-width: 1439px) {
    body {
        padding: 80px;
    }
    #page-links {
        margin-left: -8px;
    }
    #social-links {
        margin-top: 40px;
    }
    #archive-links {
        width: 768px;
    }
    section {
        grid-template-columns: repeat(auto-fill, 46%);
    }
    iframe {
        width: 100%;
    }
    #volunteering-3 {
        margin-top: 22px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding: 40px;
    }
    h1 {
        width: 148px;
    }
    #page-links a {
        display: table;
        margin-bottom: 12px;
    }
    #archive-links {
        width: 100%;
    }
    section {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    footer {
        margin-top: 80px;
    }
    #volunteering-2 {
        margin-top: 22px;
    }
    #process-ideation div {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    #process-research div {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    #process-wireframe div {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    #process-animation div {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    #process-designsystems div {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    #process-hifi div {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}
