$light: #EAECE7;
$dark: #213030;
$grey: #6C7681;
$blue: #117fff;
$white: #FFF;
$yellow: #F5B149;
$red: #D55150;
$transition: all 0.125s ease;
$border-radius: 4px;
$bold: 700;

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    font-size: 14px;
    color: $dark;
    line-height: 22px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background-color: $light;
}

h1 {
    font-size: 18px;
    font-weight: $bold;
    margin-bottom: 8px;
}

h2 {
    font-weight: $bold;
    margin: 16px 0 8px;
}

h5 {
    font-size: 12px;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

h6 {
    font-weight: $bold;
    color: $light;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

a {
    color: $blue;
    font-weight: $bold;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 0;
    transition: all .125s ease;
    &:hover {
        border-bottom: 1px solid $blue;
        padding-bottom: 2px;
    }
}

p {
    margin-bottom: 16px;
}

span {
    font-weight: $bold;
}

.side {
    background-color: $yellow;
    width: 480px;
    height: 100vh;
    position: fixed;
    display: block;
    padding: 40px 80px;
    @media only screen and (max-width: 991px) {
        width: 100%;
        height: 400px;
        position: relative;
        display: block;
    }
    @media only screen and (max-width: 599px) {
        padding: 32px;
    }
}

.mr-16 {
    margin-right: 16px;
    @media only screen and (max-width: 491px) {
        margin-right: 0;
        display: block;
        margin-bottom: 12px;
    }
}

.title {
    max-width: 296px;
    height: auto;
    margin: 0 auto;
    top: 44%;
    position: absolute;
    @media only screen and (max-width: 599px) {
        max-width: 240px;
        top: 34%;
    }
}

.contact {
    width: 56px;
    height: 56px;
    background-color: $red;
    position: absolute;
    bottom: 40px;
    text-align: center;
    padding: 12px 8px;
    &:hover {
        transform: rotate(360deg);
        border-bottom: none;
        padding-bottom: 0;
        transition: all .75s ease;
        border-radius: 16px;
    }
}

.images {
    width: calc(100% - 480px);
    height: 400px;
    position: absolute;
    right: 0;
    @media only screen and (max-width: 991px) {
        width: 100%;
        height: 400px;
    }
}

.imgA {
    width: 50%;
    height: 100%;
    object-fit: cover;
    @media only screen and (max-width: 1199px) {
        width: 100%;
        height: 50%;
    }
    @media only screen and (max-width: 991px) {
        width: 50%;
        height: 100%;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        height: 50%;
    }
}

.imgB {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    @media only screen and (max-width: 1199px) {
        width: 100%;
        height: 50%;
        margin-top: -6px;
    }
    @media only screen and (max-width: 991px) {
        width: 50%;
        height: 100%;
        margin-top: 0;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        height: 50%;
        margin-top: -6px;
    }
}

.main {
    width: calc(100% - 480px);
    height: auto;
    position: absolute;
    right: 0;
    margin-top: 472px;
    @media only screen and (max-width: 991px) {
        width: 100%;
        height: auto;
    }
}

.content {
    max-width: 536px;
    height: auto;
    margin: 0 auto;
    padding: 0 40px;
    @media only screen and (max-width: 991px) {
        max-width: 600px;
        margin: 0 auto;
    }
}

.section {
    width: 100%;
    height: auto;
    padding: 64px 0;
    h5 {
        color: $dark;
        font-weight: $bold;
        margin: 16px 0 8px;
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    margin-bottom: 12px;
}

#present {
    background-color: #4e5052;
    h5, p, span {
        color: $light;
    }
}

#history {
    background-color: #e2702c;
}

#halfdollar {
    background-color: #fecb52;
    .logo {
        height: 16px;
        width: auto;
    }
    a {
        color: $dark;
        &:hover {
            border-color: $dark;
        }
    }
}

#weiigh {
    background-color: #D55150;
    a {
        color: $dark;
        &:hover {
            border-color: $dark;
        }
    }
}

#sound {
    background-color: #9D32F5;
    h5, p, span {
        color: $light;
    }
    a {
        color: $light;
        &:hover {
            border-color: $light;
        }
    }
}

#intermission {
    background-color: $dark;
    h5, p, span {
        color: $light;
    }
    a {
        color: $light;
        &:hover {
            border-color: $light;
        }
    }
}

#dailyui {
    background-color: #2169fb;
    h5, p, span {
        color: $light;
    }
    a {
        color: $light;
        &:hover {
            border-color: $light;
        }
    }
}

#unsplash {
    background-color: #d5cfca;
    .logo {
        height: 24px;
        width: auto;
    }
    a {
        color: $dark;
        &:hover {
            border-color: $dark;
        }
    }
}
